html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 10%;
}

.display-score-card {
    opacity: .5;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

@media screen and (max-width: 400px) {
    h1 {
        font-size: 1.5em;
    }
}

/*
 * Styles for the deck of cards
 */

.deck {
    width:100%;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    align-items: center;
}

.deck .card {
    min-height: calc((80vw - 88px)/4);
    min-width: calc((60% - 80px) /4);
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

@media screen and (min-width: 550px){
    .deck {
        width: auto;
    }
    .deck .card {
        width: 110px;
        min-height: 110px;
    }
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

@media screen and (min-width: 850px){
    .score-panel {
        width:650px;
    }
}
.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.counter {
    margin: 0 0 0 20px;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

/*
 * Style for the score model.
 */
 .sc-model {
    position: absolute;
    top: 45%;
    left: 39%;
    background-color: deepskyblue;
    text-align: center;
    padding: 10px;
    border: 5px solid aquamarine;
    border-radius: 5px;
 }
 .sc-greets {
    color: brown;
    letter-spacing: 1px;
 }
 .sc-msg {
    color: brown;
    letter-spacing: 1px;
 }
 .sc-moves {
    color: green;
    font-weight: bolder;
 }
 .sc-time{
    color:green;
    font-weight: bolder;
 }
 .sc-restart {
    padding: 10px;
    font-size: 1.2em;
    letter-spacing: 1px;
 }
 .sc-exit {
    padding: 10px;
    font-size: 1.2em;
    letter-spacing: 1px;
 }

 .hidden {
    display: none;
 }
 .show {
    display: block;
 }
